[*.{kt,kts}]
# ktlint_standard_function-naming = disabled
ktlint_compose_parameter-naming = disabled
max_line_length = 140
ktlint_compose_modifier-missing-check = disabled
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_compose_lambda-param-in-effect = disabled